* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

.header {
    height: 70px;
    background: #7474BF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header__logo {
    display: block;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}

.header__logo,
.nav__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: all .2s linear;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav__item {
    margin-left: 40px;
}

.nav__item:hover .nav__link {
    color: #FFEDBC;
}

.books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.books__item {
    border: 1px solid #ccc;
    width: 20%;
    height: 350px;
    border-radius: 6px;
    margin: 10px 20px;
    overflow: hidden;
    transition: all .2s linear;
    cursor: pointer;
}

.books__item:hover {
    box-shadow: 0px 0px 14px 1px rgba(110, 130, 161, 0.66);
    -webkit-box-shadow: 0px 0px 14px 1px rgba(110, 130, 161, 0.66);
    -moz-box-shadow: 0px 0px 14px 1px rgba(110, 130, 161, 0.66);
}

.book {
    padding: 5px;
    position: relative;
}

.book__cover {
    width: 150px;
    height: 150px;
    margin: 5px auto;
    display: block;
}

.book__title {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.book__subtitle {
    font-size: 14px;
    text-align: center;
    color: rgb(65, 64, 64);
    font-weight: 100;
}

.book__description {
    text-align: center;
}

.book__price {
    text-align: center;
}

.book__controls {
    margin: 15px 0;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
}

.book__btn {
    display: block;
    background: rgb(28, 197, 48);
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
}

.book__btn--disabled {
    background: #ccc;
    pointer-events: none;
}

.shop-cart {
    color: white;
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.book-template {
    display: none;
}